.reddit {
    background-color: white;
    margin: 20px 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 3px;
    box-shadow: 2px 2px 2px 2px rgb(209, 208, 208);
}

.reddit-img {
    max-width: 100%;
}

.reddit-info {
    font-size: small;
    color: #7e7e7e;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.reddit-author {
    grid-area: 1 / 1 /span 1 / span 1;
    align-self: center;
    justify-self: start;
}

.reddit-author-link {
    text-decoration: none;
    color: #FF4500;
}

.reddit-author-link:hover {
    text-decoration:underline ;
}

.reddit-comments {
    grid-area: 1 / 2 /span 1 / span 1;
    align-self: center;
    justify-self: center;
}

.reddit-button {
    text-decoration: none;
    border: #FF4500 2px solid;
    background-color: #FF4500;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
    grid-area: 1 / 3 /span 1 / span 1;
    align-self: center;
    justify-self: end;
}

.reddit-button:hover {
    border: #FF4500 2px solid;
    background-color: white;
    color: #FF4500;
}
